@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,800,900,700,500);
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.clear {
  clear: both;
  margin: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

/* COLORS */
/* VARIABLES */
/* MIXINS */
/* BASE */
body {
  margin: 0px auto;
  font-size: 16px;
  font-family: 'Raleway', sans-serif; }

.container {
  margin: 0px auto;
  width: 100%;
  padding: 0 5% 0; }
  section.content .container {
    position: relative; }

section {
  width: 100%; }
  section.content {
    padding: 12em 0 0; }

.left-column {
  position: absolute;
  max-width: 300px; }

.center-column {
  width: intrinsic;
  margin-left: calc(5% + 200px);
  padding-right: 70px; }

.right-column {
  position: absolute;
  right: 0; }
  .product-wrap .right-column {
    top: 0; }
  li.product .right-column {
    bottom: 0; }

.form-row {
  position: relative;
  margin: 3em 0 0; }

input {
  font-size: 1.2em;
  padding: .6em .6em .6em 1em;
  background-color: #141b29;
  font-family: 'Droid Sans Mono';
  color: white;
  outline: none;
  border: 1px solid #ffffff;
  letter-spacing: 1px; }
  input.full {
    width: 100%; }
  input:focus {
    background-color: #282e3b; }

select {
  font: 1.5em;
  font-family: 'Droid Sans Mono';
  -webkit-appearance: none;
  padding: 1em 7em 1em 1.5em;
  border-radius: 0;
  background-color: #161c28;
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff; }

label {
  position: absolute;
  top: -2em;
  padding: 0 0 0 1em;
  left: 0.09em;
  z-index: -1;
  font-size: .8em;
  letter-spacing: 1px;
  animation: float-labels 300ms none ease-out;
  -webkit-animation: float-labels 300ms none ease-out;
  /* There is a bug sometimes pausing the animation. This avoids that.*/
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important; }

/* Label highlight effect also for non-JS browsers */
input:not(.empty):focus + label {
  color: #ffffff; }

/* In JS Browsers the .empty class is assigned to empty inputs -> label is rendered like a placeholder in the input field */
input.empty + label {
  top: 0.1em;
  left: 0;
  font-size: 1.5em;
  animation: none;
  -webkit-animation: none; }

/* The animation is a bit more complex than what is achievable with simple transitions, because I do not want the label to fly over my input. The place-holder label should fade out first and then appear again above the input text */
@keyframes float-labels {
  0% {
    opacity: 1;
    top: 0.1em;
    font-size: 1.5em; }

  20% {
    font-size: 1.5em;
    opacity: 0; }

  30% {
    top: 0.1em; }

  50% {
    opacity: 0;
    font-size: 0.85em; }

  100% {
    top: -1em;
    opacity: 1; } }

@-webkit-keyframes float-labels {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em; }

  20% {
    font-size: 1.5em;
    opacity: 0; }

  30% {
    top: 0.1em; }

  50% {
    opacity: 0;
    font-size: 0.85em; }

  100% {
    top: -1em;
    opacity: 1; } }

::-webkit-input-placeholder {
  letter-spacing: 1px; }

:-moz-placeholder {
  /* Firefox 18- */
  letter-spacing: 1px; }

::-moz-placeholder {
  /* Firefox 19+ */
  letter-spacing: 1px; }

:-ms-input-placeholder {
  letter-spacing: 1px; }

h1 {
  font-size: 2.8em;
  line-height: .9em;
  font-weight: 900;
  letter-spacing: .01em; }

h2 {
  font-size: 2.2em;
  font-weight: 900; }

h3 {
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800; }
  h1 + h3 {
    margin: 2em 0 0; }

p {
  font-weight: 400;
  font-size: .9em;
  line-height: 1.4em;
  max-width: 700px; }
  h3 + p {
    margin: .3em 0 inherit; }
  p + p {
    margin: 1em 0 0; }

.button {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px; }

#model {
  width: 510px;
  height: 504px;
  display: block;
  background-repeat: no-repeat;
  background-size: 300%; }
  #model.up {
    background-position: 50% 0%; }
  #model.up-left {
    background-position: 0% 0%; }
  #model.up-right {
    background-position: 100% 0%; }
  #model.left {
    background-position: 0% 50%; }
  #model.front {
    background-position: 50% 50%; }
  #model.right {
    background-position: 100% 50%; }
  #model.down-left {
    background-position: 0% 100%; }
  #model.down {
    background-position: 50% 100%; }
  #model.down-right {
    background-position: 100% 100%; }

.edition-count {
  height: 8em;
  width: 8em;
  border-radius: 6em;
  padding: 1.7em 0 0;
  border: 2px solid white;
  text-align: center; }
  .edition-count h2 {
    display: inline; }
  .edition-count h2 + h2:before {
    height: 40px;
    width: 2px;
    background-color: white;
    content: "";
    display: inline-block;
    vertical-align: middle;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    margin: 0 .3em; }

section.product {
  color: white; }
  section.product .product-wrap {
    position: relative; }
  section.product .information .price {
    margin: 2em 0 0; }

.social {
  position: absolute;
  bottom: 1em; }
  .social div {
    display: inline-block; }

section.branding {
  padding: 1em 0 0;
  position: absolute; }
  section.branding .logotype {
    width: 200px;
    height: 120px; }
    section.branding .logotype path {
      fill: #0b1221; }

/* ----RED----- */
.red {
  background-color: #a02424; }
  .red section.navigation {
    color: #a02424;
    border-color: #a02424; }
    .red section.navigation a {
      border-bottom-color: #a02424; }
  .red section.product {
    background: #a02424;
    /* Old browsers */
    background: -moz-radial-gradient(bottom, ellipse cover, #a02424 0%, #701919 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #a02424), color-stop(100%, #701919));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(bottom, ellipse cover, #a02424 0%, #701919 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(bottom, ellipse cover, #a02424 0%, #701919 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(bottom, ellipse cover, #a02424 0%, #701919 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at bottom, #a02424 0%, #701919 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#701919',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .red .branding .logotype path {
    fill: #a02424; }
  .red .button {
    background-color: rgba(112, 25, 25, 0.5); }
    .red .button:hover {
      background-color: rgba(112, 25, 25, 0.7); }
    .red .button:active {
      background-color: rgba(112, 25, 25, 0.9); }

/* ----GREEN----- */
.green {
  background-color: #04664c; }
  .green section.navigation {
    color: #1ba886;
    border-color: #1ba886; }
    .green section.navigation a {
      border-bottom-color: #1ba886; }
  .green section.product {
    background: #1ba886;
    /* Old browsers */
    background: -moz-radial-gradient(bottom, ellipse cover, #1ba886 0%, #12755d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #1ba886), color-stop(100%, #12755d));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(bottom, ellipse cover, #1ba886 0%, #12755d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(bottom, ellipse cover, #1ba886 0%, #12755d 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(bottom, ellipse cover, #1ba886 0%, #12755d 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at bottom, #1ba886 0%, #12755d 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#12755d',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .green .branding .logotype path {
    fill: #1ba886; }
  .green .button {
    background-color: rgba(18, 117, 93, 0.5); }
    .green .button:hover {
      background-color: rgba(18, 117, 93, 0.7); }
    .green .button:active {
      background-color: rgba(18, 117, 93, 0.9); }

/* ----YELLOW----- */
.yellow {
  background-color: #b62c2c; }
  .yellow section.navigation {
    color: #f79c39;
    border-color: #f79c39; }
    .yellow section.navigation a {
      border-bottom-color: #f79c39; }
  .yellow section.product {
    background: #f79c39;
    /* Old browsers */
    background: -moz-radial-gradient(bottom, ellipse cover, #f79c39 0%, #ac6d27 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #f79c39), color-stop(100%, #ac6d27));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(bottom, ellipse cover, #f79c39 0%, #ac6d27 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(bottom, ellipse cover, #f79c39 0%, #ac6d27 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(bottom, ellipse cover, #f79c39 0%, #ac6d27 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at bottom, #f79c39 0%, #ac6d27 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#ac6d27',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .yellow .branding .logotype path {
    fill: #f79c39; }
  .yellow .button {
    background-color: rgba(172, 109, 39, 0.5); }
    .yellow .button:hover {
      background-color: rgba(172, 109, 39, 0.7); }
    .yellow .button:active {
      background-color: rgba(172, 109, 39, 0.9); }

.blue {
  background-color: #4d7cb7; }
  .blue section.navigation {
    color: #83d3ea;
    border-color: #83d3ea; }
    .blue section.navigation a {
      border-bottom-color: #83d3ea; }
  .blue section.product {
    background: #83d3ea;
    /* Old browsers */
    background: -moz-radial-gradient(bottom, ellipse cover, #83d3ea 0%, #5b93a3 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #83d3ea), color-stop(100%, #5b93a3));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(bottom, ellipse cover, #83d3ea 0%, #5b93a3 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(bottom, ellipse cover, #83d3ea 0%, #5b93a3 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(bottom, ellipse cover, #83d3ea 0%, #5b93a3 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at bottom, #83d3ea 0%, #5b93a3 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#5b93a3',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .blue .branding .logotype path {
    fill: #83d3ea; }
  .blue .button {
    background-color: rgba(91, 147, 163, 0.5); }
    .blue .button:hover {
      background-color: rgba(91, 147, 163, 0.7); }
    .blue .button:active {
      background-color: rgba(91, 147, 163, 0.9); }

.grey {
  background-color: #92a2a1; }
  .grey section.navigation {
    color: #e5ddd2;
    border-color: #e5ddd2; }
    .grey section.navigation a {
      border-bottom-color: #e5ddd2; }
  .grey section.product {
    background: #e5ddd2;
    /* Old browsers */
    background: -moz-radial-gradient(bottom, ellipse cover, #e5ddd2 0%, #a09a93 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #e5ddd2), color-stop(100%, #a09a93));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(bottom, ellipse cover, #e5ddd2 0%, #a09a93 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(bottom, ellipse cover, #e5ddd2 0%, #a09a93 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(bottom, ellipse cover, #e5ddd2 0%, #a09a93 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at bottom, #e5ddd2 0%, #a09a93 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#a09a93',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .grey .branding .logotype path {
    fill: #e5ddd2; }
  .grey .button {
    background-color: rgba(160, 154, 147, 0.5); }
    .grey .button:hover {
      background-color: rgba(160, 154, 147, 0.7); }
    .grey .button:active {
      background-color: rgba(160, 154, 147, 0.9); }

.orange {
  background-color: #c38c5b; }
  .orange section.navigation {
    color: #fbd3ac;
    border-color: #fbd3ac; }
    .orange section.navigation a {
      border-bottom-color: #fbd3ac; }
  .orange section.product {
    background: #fbd3ac;
    /* Old browsers */
    background: -moz-radial-gradient(bottom, ellipse cover, #fbd3ac 0%, #af9378 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #fbd3ac), color-stop(100%, #af9378));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(bottom, ellipse cover, #fbd3ac 0%, #af9378 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(bottom, ellipse cover, #fbd3ac 0%, #af9378 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(bottom, ellipse cover, #fbd3ac 0%, #af9378 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at bottom, #fbd3ac 0%, #af9378 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#af9378',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .orange .branding .logotype path {
    fill: #fbd3ac; }
  .orange .button {
    background-color: rgba(175, 147, 120, 0.5); }
    .orange .button:hover {
      background-color: rgba(175, 147, 120, 0.7); }
    .orange .button:active {
      background-color: rgba(175, 147, 120, 0.9); }

section.navigation {
  position: fixed;
  bottom: 0; }
  section.navigation .container {
    position: relative; }
  section.navigation nav {
    padding: 0 0 1em; }
    section.navigation nav ul li {
      display: inline-block;
      padding: 0 1.2em 0 0; }
      section.navigation nav ul li a {
        line-height: 1.7em;
        font-weight: 400;
        font-size: .9em;
        letter-spacing: .1em;
        border-bottom: 1px solid;
        border-bottom-color: inherit; }
      section.navigation nav ul li #cart-count {
        position: absolute;
        bottom: 1;
        margin-left: 4px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 2px 6px;
        border-radius: 12px; }

.button {
  padding: .8em 1.2em;
  border: 2px solid;
  border-color: white;
  width: intrinsic;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0 0; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .button:active {
    background-color: rgba(255, 255, 255, 0.4); }

.bounce {
  animation: bounce .6s;
  -webkit-animation: bounce .6s; }

.relative {
  position: relative; }

@keyframes bounce {
  0% {
    bottom: 1px; }

  40% {
    bottom: 11px; }

  50% {
    bottom: 11px; }

  80% {
    bottom: 1;
  /*
  -webkit-transform: scaleX(1.4);
    -moz-transform: scaleX(1.4);
    -ms-transform: scaleX(1.4);
    -o-transform: scaleX(1.4);
*/ }

  90% {
    bottom: 3px; }

  100% {
    bottom: 1px; } }

@-webkit-keyframes bounce {
  0% {
    bottom: 1px; }

  40% {
    bottom: 11px; }

  50% {
    bottom: 11px; }

  80% {
    bottom: 1px;
    /* -webkit-transform: scaleX(1.4); */ }

  90% {
    bottom: 3px; }

  100% {
    bottom: 1px; } }

.wayfinding {
  width: 100%;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  margin: 2em 0 0; }
  .wayfinding a {
    display: inline-block;
    padding: .4em 0;
    text-align: center;
    width: 50%; }
    .wayfinding a:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .wayfinding a:last-child {
      border-left: 2px solid white; }

body.text section.content {
  margin-bottom: 8em; }

body.home ul.index li.product {
  width: 100%;
  display: block;
  padding: 2em 0; }