@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,800,900,700,500);
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.clear {
  clear: both;
  margin: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

/* COLORS */
/* VARIABLES */
/* MIXINS */
/* BASE */
body {
  margin: 0px auto;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: white; }

.container {
  margin: 0px auto;
  width: 100%;
  padding: 0 5% 0; }

section {
  width: 100%; }

.left-column {
  width: 300px;
  position: absolute;
  height: 100%; }

.form-row {
  position: relative;
  margin: 3em 0 0; }

input {
  font-size: 1.2em;
  padding: .6em .6em .6em 1em;
  background-color: #141b29;
  font-family: 'Droid Sans Mono';
  color: white;
  outline: none;
  border: 1px solid #ffffff;
  letter-spacing: 1px; }
  input.full {
    width: 100%; }
  input:focus {
    background-color: #282e3b; }

select {
  font: 1.5em;
  font-family: 'Droid Sans Mono';
  -webkit-appearance: none;
  padding: 1em 7em 1em 1.5em;
  border-radius: 0;
  background-color: #161c28;
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff; }

label {
  position: absolute;
  top: -2em;
  padding: 0 0 0 1em;
  left: 0.09em;
  z-index: -1;
  font-size: .8em;
  letter-spacing: 1px;
  animation: float-labels 300ms none ease-out;
  -webkit-animation: float-labels 300ms none ease-out;
  /* There is a bug sometimes pausing the animation. This avoids that.*/
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important; }

/* Label highlight effect also for non-JS browsers */
input:not(.empty):focus + label {
  color: #ffffff; }

/* In JS Browsers the .empty class is assigned to empty inputs -> label is rendered like a placeholder in the input field */
input.empty + label {
  top: 0.1em;
  left: 0;
  font-size: 1.5em;
  animation: none;
  -webkit-animation: none; }

/* The animation is a bit more complex than what is achievable with simple transitions, because I do not want the label to fly over my input. The place-holder label should fade out first and then appear again above the input text */
@keyframes float-labels {
  0% {
    opacity: 1;
    top: 0.1em;
    font-size: 1.5em; }

  20% {
    font-size: 1.5em;
    opacity: 0; }

  30% {
    top: 0.1em; }

  50% {
    opacity: 0;
    font-size: 0.85em; }

  100% {
    top: -1em;
    opacity: 1; } }

@-webkit-keyframes float-labels {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em; }

  20% {
    font-size: 1.5em;
    opacity: 0; }

  30% {
    top: 0.1em; }

  50% {
    opacity: 0;
    font-size: 0.85em; }

  100% {
    top: -1em;
    opacity: 1; } }

::-webkit-input-placeholder {
  letter-spacing: 1px; }

:-moz-placeholder {
  /* Firefox 18- */
  letter-spacing: 1px; }

::-moz-placeholder {
  /* Firefox 19+ */
  letter-spacing: 1px; }

:-ms-input-placeholder {
  letter-spacing: 1px; }

h1 {
  font-size: 4.5em;
  line-height: .8em;
  font-weight: 900; }

h2 {
  font-size: 2.2em;
  font-weight: 900; }

h3 {
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800; }
  h1 + h3 {
    margin: 2em 0 0; }

p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em; }
  h3 + p {
    margin: .3em 0 inherit; }

.button {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px; }

#model {
  width: 510px;
  height: 504px;
  display: block;
  background-repeat: no-repeat;
  background-size: 300%; }
  #model.up {
    background-position: 50% 0%; }
  #model.up-left {
    background-position: 0% 0%; }
  #model.up-right {
    background-position: 100% 0%; }
  #model.left {
    background-position: 0% 50%; }
  #model.front {
    background-position: 50% 50%; }
  #model.right {
    background-position: 100% 50%; }
  #model.down-left {
    background-position: 0% 100%; }
  #model.down {
    background-position: 50% 100%; }
  #model.down-right {
    background-position: 100% 100%; }

.edition-count {
  height: 11em;
  width: 11em;
  border-radius: 6em;
  margin: 3em auto;
  padding: 3em 0 0; }
  .edition-count span {
    display: inline-block;
    vertical-align: middle; }
    .edition-count span.edition {
      font-size: 4em;
      font-weight: bold;
      line-height: .9em;
      padding: 0 .1em; }

section.product {
  padding: 12em 0 0; }
  section.product .container {
    position: relative; }
  section.product .information {
    position: absolute;
    max-width: 300px; }
    section.product .information p {
      padding: 0 0 2em;
      border-bottom: 2px solid white; }
    section.product .information .price {
      margin: 2em 0 0; }
  section.product .model {
    width: intrinsic;
    margin-left: calc(5% + 250px); }

section.branding {
  padding: 1em 0 0;
  position: absolute; }
  section.branding .logotype {
    width: 200px;
    height: 120px; }
    section.branding .logotype path {
      fill: white; }

body.product {
  /* ----RED----- */
  /* ----GREEN----- */
  /* ----YELLOW----- */ }
  body.product.red {
    background-color: #a02424; }
    body.product.red section.product {
      background: #a02424;
      /* Old browsers */
      background: -moz-radial-gradient(bottom, ellipse cover, #a02424 0%, #701919 100%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #a02424), color-stop(100%, #701919));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(bottom, ellipse cover, #a02424 0%, #701919 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(bottom, ellipse cover, #a02424 0%, #701919 100%);
      /* Opera 12+ */
      background: -ms-radial-gradient(bottom, ellipse cover, #a02424 0%, #701919 100%);
      /* IE10+ */
      background: radial-gradient(ellipse at bottom, #a02424 0%, #701919 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#701919',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
    body.product.red .branding .logotype path {
      fill: #a02424; }
    body.product.red .navigation {
      color: #a02424; }
  body.product.green {
    background-color: #04664c; }
    body.product.green section.product {
      background: #1ba886;
      /* Old browsers */
      background: -moz-radial-gradient(bottom, ellipse cover, #1ba886 0%, #12755d 100%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #1ba886), color-stop(100%, #12755d));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(bottom, ellipse cover, #1ba886 0%, #12755d 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(bottom, ellipse cover, #1ba886 0%, #12755d 100%);
      /* Opera 12+ */
      background: -ms-radial-gradient(bottom, ellipse cover, #1ba886 0%, #12755d 100%);
      /* IE10+ */
      background: radial-gradient(ellipse at bottom, #1ba886 0%, #12755d 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#12755d',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
    body.product.green .branding .logotype path {
      fill: #1ba886; }
    body.product.green .navigation {
      color: #1ba886; }
  body.product.yellow {
    background-color: #b62c2c; }
    body.product.yellow section.product {
      background: #f79c39;
      /* Old browsers */
      background: -moz-radial-gradient(bottom, ellipse cover, #f79c39 0%, #ac6d27 100%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #f79c39), color-stop(100%, #ac6d27));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(bottom, ellipse cover, #f79c39 0%, #ac6d27 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(bottom, ellipse cover, #f79c39 0%, #ac6d27 100%);
      /* Opera 12+ */
      background: -ms-radial-gradient(bottom, ellipse cover, #f79c39 0%, #ac6d27 100%);
      /* IE10+ */
      background: radial-gradient(ellipse at bottom, #f79c39 0%, #ac6d27 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#ac6d27',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
    body.product.yellow .branding .logotype path {
      fill: #f79c39; }
    body.product.yellow .navigation {
      color: #f79c39; }
  body.product.blue {
    background-color: #4d7cb7; }
    body.product.blue section.product {
      background: #83d3ea;
      /* Old browsers */
      background: -moz-radial-gradient(bottom, ellipse cover, #83d3ea 0%, #5b93a3 100%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #83d3ea), color-stop(100%, #5b93a3));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(bottom, ellipse cover, #83d3ea 0%, #5b93a3 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(bottom, ellipse cover, #83d3ea 0%, #5b93a3 100%);
      /* Opera 12+ */
      background: -ms-radial-gradient(bottom, ellipse cover, #83d3ea 0%, #5b93a3 100%);
      /* IE10+ */
      background: radial-gradient(ellipse at bottom, #83d3ea 0%, #5b93a3 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#5b93a3',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
    body.product.blue .branding .logotype path {
      fill: #83d3ea; }
    body.product.blue .navigation {
      color: #83d3ea; }
  body.product.grey {
    background-color: #92a2a1; }
    body.product.grey section.product {
      background: #e5ddd2;
      /* Old browsers */
      background: -moz-radial-gradient(bottom, ellipse cover, #e5ddd2 0%, #a09a93 100%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%, #e5ddd2), color-stop(100%, #a09a93));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(bottom, ellipse cover, #e5ddd2 0%, #a09a93 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(bottom, ellipse cover, #e5ddd2 0%, #a09a93 100%);
      /* Opera 12+ */
      background: -ms-radial-gradient(bottom, ellipse cover, #e5ddd2 0%, #a09a93 100%);
      /* IE10+ */
      background: radial-gradient(ellipse at bottom, #e5ddd2 0%, #a09a93 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='color', endColorstr='#a09a93',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
    body.product.grey .branding .logotype path {
      fill: #e5ddd2; }
    body.product.grey .navigation {
      color: #e5ddd2; }

section.navigation {
  position: fixed;
  bottom: 0; }
  section.navigation nav {
    padding: 0 0 1em; }
    section.navigation nav ul li {
      display: inline-block;
      padding: 0 1.2em 0 0; }
      section.navigation nav ul li a {
        line-height: 1.7em;
        font-weight: 400;
        font-size: .9em;
        letter-spacing: .1em;
        border-bottom: 1px solid white; }
  section.navigation .cart {
    height: 100px;
    width: 100px;
    background-color: aqua;
    right: 0;
    position: absolute;
    bottom: 0; }

.button {
  padding: 1em 1.5em;
  border: 2px solid;
  border-color: white;
  width: intrinsic;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0 0; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .button:active {
    background-color: rgba(255, 255, 255, 0.4); }